<!DOCTYPE html>
<html>
    <head>
        <title>Food Tracker!</title>
    </head>
    <body>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.food_name.label }}<br>
                {{ form.food_name(size=32, value=data[0]) }}
                {% for error in form.food_name.errors %}
                <span style="color:crimson;">[{{ error }}]</span>
                {% endfor %}<br>
                {{ form.proteins.label }}<br>
                {{ form.proteins(size=32, value=data[1]) }}
                {% for error in form.proteins.errors %}
                <span style="color:crimson;">[{{ error }}]</span>
                {% endfor %}<br>
                {{ form.carbs.label }}<br>
                {{ form.carbs(size=32, value=data[2]) }}
                {% for error in form.carbs.errors %}
                <span style="color:crimson;">[{{ error }}]</span>
                {% endfor %}<br>
                {{ form.fats.label }}<br>
                {{ form.fats(size=32, value=data[3]) }}
                {% for error in form.fats.errors %}
                <span style="color:crimson;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    </body>
</html>