<!DOCTYPE html>
<html>
    <head>
        <title>Food Tracker!</title>
    </head>
    <body>
        <a href="{{ url_for('bp.add')}}">Add Food Item</a>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.date.label }}<br>
                {{ form.date(size=32) }}
                {% for error in form.date.errors %}
                <span style="color:crimson;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
        {% if dates_exist %}
        <ul>
        {% for row in log_dates|batch(4) %}
            {% for log_date1 in row %}
                <li>{{ (log_date1['log_date']).date }} 
                    <button><a href="{{ url_for ('bp.view', log_id=log_date1['log_date'].id) }}">View</a></button>
                    <button><a href="{{ url_for ('bp.delete_log', log_id=log_date1['log_date'].id) }}">Delete</a></button>
                    <ul>
                        <li>Protein {{ log_date1['proteins'] }}</li>
                        <li>Carbohydrate {{ log_date1['carbs'] }}</li>
                        <li>Fat {{ log_date1['fats'] }}</li>
                        <li>Calories {{ log_date1['calories'] }}</li>
                    </ul>
                </li>
            {% endfor %}
        {% endfor %}
        </ul>
        {% endif %}
    </body>
</html>