<!DOCTYPE html>
<html>
    <head>
        <title>Food Tracker!</title>
    </head>
    <body>
        <a href="{{ url_for('bp.index') }}">Home</a>
        <a href="{{ url_for('bp.add')}}">Add Food Item</a>
        <form action="{{ url_for('bp.add_food_to_log', log_id=log.id) }}" method="post" novalidate>
            <select name="food-select">
                {% for food in foods %}
                <option value="{{food.id}}">{{ food.name }}</option>
                {% endfor %}
            </select>
            <button type="submit">Add Food</button>
        </form>
        <p>{{ log.date }}</p>
        Proteins: {{ totals['protein'] }} Carbs: {{ totals['carbs'] }} Fat: {{ totals['fat'] }} Calories: {{ totals['calories'] }}
        <ul>
        {% for food in log.foods %}
            <li><p>{{ loop.index }}{{ food.name }} Protein:{{ food.proteins }} Carbohydrate:{{ food.carbs }} Fat:{{ food.fats }} Calories:{{ food.calories }}</p>
                <button><a href="{{ url_for('bp.remove_food_from_log', log_id=log.id, food_id=food.id) }}">Remove</a></button></li>
        {% endfor %}
        </ul>
    </body>
</html>